/* ***************** utilities & containers ***************** */
.container {
    max-width: 95.5rem;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

/* ***************** global typography ***************** */

/* ***************** header & footer ***************** */

/* ***************** main content ***************** */

body {
    font-family: Arial, Helvetica, sans-serif;
}
