/* ***************** utilities & containers ***************** */
:root {
    --primary-blue: #0C4A6E;
    --off-white: #fafafa;
    --black: #000;
    --grey: #c3c3c4;

}

.container {
    max-width: 95.5rem;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

/* ***************** global typography ***************** */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}



/* ***************** header & footer ***************** */



/* ***************** main content ***************** */

