/* ***************** utilities & containers ***************** */

/* ***************** global typography ***************** */

/* ***************** header & footer ***************** */

/* ***************** main content ***************** */

body {
    font-family: Arial, Helvetica, sans-serif;
}
