/* ***************** utilities & containers ***************** */
:root {
    --primary-blue: #0C4A6E;
    --off-white: #fafafa;
    --black: #000;
    --grey: #c3c3c4;

}

.container {
    max-width: 95.5rem;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

/* ***************** global typography ***************** */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

header {
    color: var(--off-white);
    background-color: var(--primary-blue);
    padding: 1.625rem 0 1.625rem 0;
    margin-bottom: 1.75rem;
}

main {
    padding: 0 6.25rem;
}

h1 {
    font-size: 1.625rem;
}

h2 {
    font-size: 3.75rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 3rem;
}

p,li,cite {
    font-weight: 400;
}

.flex-container section {
    width: calc((100% / 2) - (2rem / 2));
}

.flex-container p {
    max-width: 27.25rem;
}

.members {
    display: flex;
    align-items: center;
    /* to make the contents be centered */
}

section .members {
    background-color: var(--grey);
}






/* ***************** header & footer ***************** */



/* ***************** main content ***************** */

